input {
  display: block;
  width: 10rem;
  padding: 0.4rem 0.6rem;
  margin: 0.8rem 0;
  border: 1px solid black;
}

header>h1{
  text-align: center;
}

a{
  margin: 0 1rem;
}

button {
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin: 1rem 0;
  background-color: dodgerblue;
  color: white;
}

button:hover {
  background-color: rgb(89, 172, 255);
}

.signup-form{
  width: min-content;
  margin: auto;
}